services:
  db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_DB: tasksdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db-init:/docker-entrypoint-initdb.d

  backend:
    build: ./backend
    container_name: flask-backend
    ports:
      - "5000:5000"
    environment:
      DB_HOST: db
      DB_NAME: tasksdb
      DB_USER: postgres
      DB_PASSWORD: postgres
    depends_on:
      - db

volumes:
  postgres_data: